.transaction-item {
  border: 1px solid #888888;
  cursor: pointer;
  margin: 0 0 10px 0;
  border-radius: 5px;
}

.transaction-item:hover {
  border: 1px solid #000000;
}

.transaction-item .summary {
  display: flex;
  justify-content: space-between;
}

.transaction-item .type{
  color: rgba(255 255 255 / 80%);
  font-size: 20px;
  line-height: 30px;
  padding: 0 10px; 
  width: 80px;
  text-transform: uppercase;
}

.transaction-item.debit .type{
  background-color: #972727; 
}

.transaction-item.credit .type{
  background-color: #005e18; 
}

.transaction-item .amount{
  font-size: 25px;
  padding: 0 10px;
}

.transaction-item .amount span{
  font-size: 18px;
  color: #aaaaaa;
}

.transaction-item .extended {
  border-top: 1px solid #888888;
  padding: 5px;
}

.transaction-item .extended p {
  margin: 0;
  font-size: 14px;
  font-family: 'Courier New', Courier, monospace;
}